.about {
  padding: 5rem 1rem;
  overflow: hidden;
  position: relative;

  &__wrapper {
    max-width: 1100px;
    margin: auto;

    .about-header {
      .about-header__main {
        color: #fff;
        text-align: center;

        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .about-header__desc {
        color: #a5d7e8;
        text-align: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 571px;
        margin: auto;

        @media (max-width: 567px) {
          width: 100%;
        }
      }
    }

    .about-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 2rem;

      @media (max-width: 567px) {
        grid-template-columns: 1fr;
      }
      .about-content {
        p {
          color: #77a7b8;
          font-weight: 300;
        }

        a {
          background: #fff;
          padding: 1rem 2rem;
          border-radius: 50px;
          display: inline-block;
          margin-top: 1rem;

          @media (max-width: 567px) {
            width: 100% !important;
            display: block;
            padding: 0.8rem;
          }
        }
      }

      .interest {
        h1 {
          font-size: 30px;
          color: #77a7b8;
          font-weight: 200;
        }

        .divider {
          height: 1px;
          width: 100%;
          background: gray;
          margin-top: 1rem;
        }

        ul {
          margin-top: 1rem;

          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          li {
            width: auto;
            padding: 1rem 2rem;
            border-radius: 40px;
            border: 1px solid #a5d7e8;
            color: #77a7b8;

            @media (max-width: 567px) {
              padding: 0.7rem 1.3rem;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
