.professional {
  padding: 5rem 1rem;
  position: relative;
  overflow: hidden;
  &__wrapper {
    max-width: 1100px;

    margin: auto;
    .professional-header {
      .professional-header__main {
        color: #fff;
        text-align: center;

        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .professional-header__desc {
        color: #77a7b8;
        text-align: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 571px;
        margin: auto;

        @media (max-width: 567px) {
          width: 100%;
        }
      }
    }
    .professional__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 3rem;
      gap: 3rem;

      img {
        border-radius: 10px;
      }
      .job-main {
        display: flex;
        gap: 2rem;
        align-items: center;
        .square {
          width: 15px;
          height: 15px;
          background: rgb(190, 190, 190);
          transform: rotate(45deg);
          border-radius: 3px;
        }
        .job-details {
          margin-top: 1rem;
          h1 {
            font-size: 24px;
            color: #a5d7e8;
            font-weight: 300;
          }

          div {
            display: flex;
            gap: 1rem;

            p {
              color: #4f7481;
              font-weight: 100;
            }
          }
        }
      }

      @media (max-width: 567px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.circle-blur {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: -1;

  .circle {
    width: 663px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 663px;

    background: rgb(87, 107, 188);

    filter: blur(250px);
  }
  @media (max-width: 567px) {
    .professional__content {
      grid-template-columns: 1fr !important;
    }

    .skills-con-main {
      h2 {
        font-size: 1.2rem !important;
      }

      p {
        font-size: 0.8rem !important;
        margin-top: 0.3rem !important;
      }
    }
  }
}

/* Media query for tablets */

/* Media query for mobile */
